@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    @apply overflow-x-hidden;
  }

  body {
    @apply text-gray-800 bg-gray-50 overflow-x-hidden;
  }
}